* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #516dff;
  height: 100vh;
  overflow: hidden;
}

.introduce {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  height: 100vh;
}

.introduce-box-text {
  color: #fff;
  font-size: 41px;
  margin-bottom: 24px;
  margin-top: 30px;
  text-align: center;
}

.introduce-box-btn {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-left: 50%;
  padding: 12px 35px;
  font-weight: 800;
  border-radius: 5px;
  border: none;
}

.introduce-box-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.text {
  text-align: center;
  color: #fff;
  font-size: 40px;
  letter-spacing: 2.5px;
  margin-bottom: 50px;
}

.choose {
  position: relative;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.choose-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.introduce.up {
  margin-top: -100vh;
}

.choose.up {
  margin-top: -100vh;
}

.box-img {
  border: 2px solid #fff;
  max-width: 137px;
  margin: 0 12px;
  cursor: pointer;
}

.box-img:hover {
  background-color: #fff;
}

.box-img:hover .title {
  color: #000;
}

.img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.title {
  text-align: center;
  prefix: 40px;
  font-weight: 800;
  color: #fff;
}

.time {
  position: absolute;
  bottom: -65px;
  left: 0;
  margin-left: 35px;
  color: #fff;
  font-size: 33px;
}

.score {
  position: absolute;
  bottom: -65px;
  right: 0;
  margin-right: 35px;
  color: #fff;
  font-size: 33px;
}

.game {
  position: relative;
  height: 70vh;
  margin-top: 65px;
}

.game-img {
  max-width: 110px;
  margin-top: 100px;
}

.game-img1 {
  margin-top: 0;
  width: 80px;
  height: 70px;
  cursor: pointer;
  position: absolute;
}

.game-img1.off {
  margin-top: 0;
  max-width: 0;
}

.back-btn {
  position: absolute;
  color: #000;
  font-size: 20px;
  background: #fff;
  padding: 10px 20px;
  bottom: -35px;
  right: 20px;
  cursor: pointer;
}

.back-btn:hover {
  opacity: 0.9;
}

.home-btn {
  position: absolute;
  color: #000;
  font-size: 20px;
  background: #fff;
  padding: 10px 20px;
  bottom: -35px;
  left: 20px;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */